.header {
    background-color: #1C1C21;
    margin: 40px;
    max-width: 100%;
    }

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding: 16px;
}    

.leftLinks {
    display: flex;
    gap:8px;
}

.link {
    display: flex;
    cursor: pointer;
    margin: 0;
    gap: 9px;
    text-decoration: none;
    color: white;
}

